
<div class="container">
    <h2 style="text-align: center;">User List</h2>
    <button [routerLink]="['/user/create']" class="btn btn-primary">Create User</button>
<table class="table">
    <thead class="table-active">
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Edit</td>
            <td>Delete</td>
            <td>View</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.address}}</td>
            <td><button type="button" [routerLink]="['/user/edit', user.id]" class="btn btn-success" >Edit</button></td>
            <td><button type="button"  (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button></td>
            <td><button type="button" [routerLink]="['/user', user.id]" class="btn btn-info">Detail</button></td>
        </tr>
    </tbody>
    
</table>
 </div>  

